<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>会直播</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {include file="index/header" /}
    <div class="container" style="padding-top: 60px;">
        <div class="alert alert-success" role="alert">共有 <b>{$alldb}</b> 个直播平台在线，请选择您喜欢的直播平台</div>
    </div>
    <div class="container" style="padding-top: 30px;">
        {volist name='list' id='user'}
        <div class="col-xs-6 col-md-3" style="padding-bottom: 15px;font-size: 14px;"><span type="button" class="btn btn-default" aria-label="Left Align">
                <a class="glyphicon glyphicon-star" style="text-decoration:none;" target="_blank" href="s/id/{$user.id}.html"> {$user.title}</a>
            </span>
            <p><small><em>在线主播：{$user.Number} 人</em></small></p>
        </div>
        {/volist}
    </div>
    <div class="container">
        <nav aria-label=" ...">
            <ul class="pagination">
                {$page}
            </ul>
        </nav>
    </div>
    <br />
    {include file="index/footer" /}
</body>

</html>